<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  VisualWAS
  %%
  Copyright (C) 2013 - 2015 Andreas Veithen
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the 
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public 
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<?eclipse version="3.0"?>
<plugin>
    <extension point="com.ibm.wsspi.extension.applicationserver-startup">
        <components>
            <component startup="5000"
                       class="com.github.veithen.visualwas.mxbeans.PlatformMXBeansRegistrant"
                       processType="Servant"
                       component-id="PlatformMXBeansRegistrant"
                       startup-mode="immediate">
                <dependency type="service" name="com.ibm.ws.security.service.SecurityService"/>
            </component>
        </components>
    </extension>
</plugin>
