name: Continuous Integration

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

env:
  MAVEN_OPTS: -Dmaven.wagon.httpconnectionManager.ttlSeconds=25 -Dmaven.wagon.http.retryHandler.count=3

jobs:
  build:
    strategy:
      matrix:
        java: [ 11, 17, 18 ]
        websphere: [ "8.5.5.17", "9.0.5.5" ]
    name: "Java ${{ matrix.java }} - WebSphere ${{ matrix.websphere }}"
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Cache Maven Repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: maven-java-${{ matrix.java }}-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          maven-java-${{ matrix.java }}-
          maven-
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.java }}
    - name: Build
      env:
        WEBSPHERE_VERSION: ${{ matrix.websphere }}
      run: mvn -B -e -Prelease -Dgpg.skip=true verify
    - name: Remove Snapshots
      run: find ~/.m2/repository -name '*-SNAPSHOT' -a -type d -print0 | xargs -0 rm -rf
  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    name: Deploy
    runs-on: ubuntu-18.04
    needs: build
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Cache Maven Repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: maven-deploy-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          maven-deploy-
          maven-
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: 11
        server-id: ossrh
        server-username: OSSRH_USERNAME
        server-password: OSSRH_PASSWORD
    - name: Deploy
      # Can't activate the release profile here because github-release-plugin can't be easily skipped
      run: mvn -B -e -DskipTests=true deploy
      env:
        OSSRH_USERNAME: veithen
        OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
    - name: Remove Snapshots
      run: find ~/.m2/repository -name '*-SNAPSHOT' -a -type d -print0 | xargs -0 rm -rf
